*{
	margin: 0;
	padding: 0;
}
body {
    font-family: 'Exo 2', sans-serif;
}
ul{
	padding: 0;
}
ul li{
	list-style: none;
	display: inline-block;
}
a{
	text-decoration: none
}
iframe {
    width: 100%;
}
h2{
	text-align: center;
	margin-bottom: 30px;
	color: #3da3e6;
    font-weight: 700;
}
a.nav-link:hover,.navbar-nav .nav-item.active a.nav-link {
    background: #4192d8;
    color: #fff!important;
}

.header-section {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    background: #2e3234;
    padding: 10px 0px;
    width: 100%;
    transition: 0.5s;

}

/* Sticky section css */
.header-section.sticky{
	background: #fff;
	transition: 0.5s;
    box-shadow: 0px 0px 12px #292929;
    padding: 5px 0px;
}
.header-section.sticky ul li a{
	color: #4192d8!important;
}
.header-section.sticky .nav-link:hover{
    color: #fff!important;
}
.header-section.sticky .header-bottom-left img {
    width: 130px;
}
.header-section.sticky .header-bottom-right ul {
    margin-top: 0rem;
}
/* .header-section.sticky .header-social ul {
    margin-top: 14px;
} */
.header-section.sticky .header-social ul{
	margin-top: 20px;
}

/* End sticky section css */

.header-bottom-left img {
    width: 140px;
    transition: 0.3s;
}

.header-bottom-right ul {
    margin: 0;
    margin-top: 0rem;
    text-align: right!important;
    width: 100%;
    display: block;
    transition: 0.3s;
}
.header-bottom-right ul li a {
    color: #4192d8!important;
    font-weight: bold;
    padding: 10px 10px!important;
    display: block;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
}
.header-bottom-right ul li a i {
    font-size: 40px;
    margin-right: 5px;
    vertical-align: sub;
    width: 100%;
}
.header-bottom-right ul li:last-child a {
    padding-right: 0;
    
}
.header-social ul {
    text-align: right;
    margin: 0;
    margin-top: 25px;
    transition: 0.3s;
}


.header-social ul li a {
    display: block;
    color: #67b9ff;
    padding: 8px 10px;
    font-size: 24px;
}


/*===============
 Banner section
 ================*/
.banner-section{
	position: relative;
}
.banner-section:after {
    content: '';
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    left: 0;
    opacity: 0.6;
}
.banner-section img {
    height: 700px;
    width: 100%;
}
.banner-text {
    position: absolute;
    top: 45%;
    transform: translate(-50%,-50%);
    z-index: 99;
    color: #fff;
    left: 50%;
    width: 100%;
}
.banner-text h1 {
    text-transform: capitalize;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}
.banner-text p {
    font-size: 40px;
    color: #18bed8;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.banner-text p span{
    margin: 0px 10px;
    cursor: pointer;
}
p.last-one {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 21px;
    color: #ffffff;
    font-weight: normal;
}
.banner-section .button-section {
    bottom: 25%;
}
.button-section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    z-index: 99;
}
.button-section a {
    color: #fff;
    font-size: 21px;
    border: 2px solid rgb(255 255 255 / 66%);
    padding: 8px 60px;
    display: inline-block;
    text-transform: uppercase;
    margin: 0px 10px;
    border-radius: 5px;
    transition: 0.3s;
}
.button-section a:hover {
    opacity: 0.8;
}
.button-section a.book-now {
    color: #3b6e92;
    background: #fff;
}

/*About us page */
.about .banner-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.about img{
    height: 600px; 
}


/*=================
 Therapy section
 ==================*/
.wet-therapy-section a{
	display: block;
}
.wet-therapy-section img{
	width: 100%;
	height: 400px;
	transition: 0.6s ease;
}
.wet-therapy-section:after{
    content: '';
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    left: 0;
    opacity: 0.4;
    transition: 0.3s;
}
.wet-therapy-section:hover:after{
    opacity: 0.3;

}
.wet-therapy-section h3 {
    margin-bottom: 20px;
    
}
.wet-therapy-section a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff7f7;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 25px;
    z-index: 99;
    letter-spacing: 1.5px;
    width: 100%;
    text-align: center;
}
.wet-therapy-section {
    position: relative;
    overflow: hidden;
}
.wet-therapy-section:hover img{
	transform: scale(1.2);
}

.wet-therapy-section a p {
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    transition: 0.3s;
    padding: 10px 20px;
    font-weight: 700;
    width: 100%;
    display: inline;
}
.wet-therapy-section:hover a p{
    z-index: 99;
    border: 1px solid #fff;
    color: #fff;
}
.wet-therapy-section a p:hover{
    opacity: 0.8;
}


/*===========
Wet therapy details section 
=============
*/
.ice-bath-left h4 {
    color: #d21919;
    font-size: 20px;
}
.ice-bath-left p {
    font-size: 15px;
    color: #797676;
}
.ice-bath-right img {
    width: 100%;
    height: 400px;
}

.ice-bath-left ul li {
    display: block;
    list-style: inherit;
    font-size: 15px;
    color: #797676;
    line-height: 2;
}


/* ==============
Video section start
==================
*/
.video-section.mt-5 iframe{
    height: 600px;
}
/* ==============
Video section end
==================
*/



/* ==============
Cryotherapy section start
==================
*/
.cryotherapy-section.mt-5 {
    background: #F2F2F2;
    padding: 60px 0px;
}
.cryo-left p, .cryo-right p {
    font-size: 18px;
    color: #777777;
    line-height: 1.8;
}

/* ==============
Cryotherapy section end
==================
*/


/* ==============
Pricing section start
==================
*/
.pricing-section {
    background: url(../img/call-to-action-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 200px;
}
.pricing-section .button-section{
    top: 50%;
    transform: translate(-50%,-50%);
}
/* ==============
Pricing section end
==================
*/


/* ==============
Blogging section start
==================
*/
.blogging-section.mt-5 .container{
    max-width: 1160px;
}
.blogging-item {
    border: 1px solid #bdbdbd;
}
.blogging-item img{
    width: 100%;
}
.blogging-item a h3 {
    padding: 0px 20px;
    font-size: 27px;
    margin-top: 15px;
    color: #1767a0;
}
.blogging-item p {
    padding: 0px 20px;
    margin-top: 15px;
    color: #777;
    font-size: 15px;
}
.blogging-item p span a{
    color: #1767a0;
}

/* ==============
Blogging section end
==================
*/


/* ==============
Newsletter section start
==================
*/
.contact-us-section.news-letter.mt-5.mb-5 .container{
    border-top: 1px solid #d2cccc;
    padding-top: 30px;
}
.contact-us-section.news-letter.mt-5.mb-5{
    background: transparent;
}
.contact-us-section.news-letter.mt-5.mb-5 .form-label {
    color: #000!important;
}
.contact-us-section.news-letter.mt-5.mb-5 .contact-left h3,.contact-us-section.news-letter.mt-5.mb-5 .contact-left p {
    color: #000;
}
.news-letter .logo-section.mb-4 {
    text-align: center;
}
.news-letter .logo-section.mb-4 img {
    width: 150px;
}
.news-letter form label span{
    color: red;
}
.news-letter .contact-left {
    text-align: center;
    margin-top: 150px;
}
.contact-us-section.news-letter.mt-5.mb-5 .btn{
    background: #000;
    border: none;
    color: #fff;
    padding: 5px 20px;
}
/* ==============
Newsletter section end
==================
*/



/*===============
Normatec section css 
=================*/
.faq-section.mt-5.mb-5 {
    background: #ebf2ff;
    padding: 50px 0px;
}
.faq-section h3 {
    font-weight: 700;
    font-size: 25px;
    color: #232323;
    margin-bottom: 15px;
}
.instruction ul li {
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 18px;
}

.accordion-button {
    color: #2d2d2d;
    font-weight: 700;
    font-size: 20px;
    border-bottom: none;
    background: none!important;
}
.accordion-button:not(.collapsed) {
    color: #3da3e6;
    background-color: #e7f1ff;
}
.accordion-button:focus {
    box-shadow: none;
    border-color: #ddd;
}
.faq-right img {
    width: 100%;
    height: 400px;
    margin-top: 50px;
}
div#accordionExample{
	border-bottom: 1px solid #ddd;
	border-radius: 3px;
}

.normatec-section.mt-5 {
    background: #55B6C7;
    padding: 50px 0px;
}
.normatec-section.mt-5 h2{
	color: #fff;
}


/*=============
Who section start 
================= */
.who-right {
    padding: 0px 25px;
    padding-right: 0;
}
.who-right h3 {
    font-weight: 700;
    color: #3a3a3a;
    text-transform: capitalize;
}
.who-right p{
    color: #2f2e2e;
    font-weight: 600;
}



/*================== 
Contact section css 
=================== */
.contact-left p {
    margin-bottom: 10px;
    line-height: 2;
    font-size: 22px;
    color: #fff;
}
.contact-left {
    margin-top: 100px;
}
.header-social.contact ul {
    text-align: left;
    margin: 0;
    margin-top: 0;
}

.form-control:focus {
	box-shadow: inherit;
}
.form-label {
    margin-bottom: .5rem;
    color: #fff;
}
.contact-left h3 {
    text-transform: capitalize;
    font-weight: 700;
    color: #ffffff;
    font-size: 36px;
}
.contact-left p a {
    color: #fff;
    font-size: 17px;
    text-decoration: underline;
}
.contact-us-section.mt-5 {
    background: #55B6C7;
    padding: 50px 0px;
}

.contact-us-section.mt-5 h2 {
    color: #fff;
}
.header-social.contact ul li a {
    display: block;
    color: #fff;
    padding: 8px 5px;
    font-size: 22px;
}
button.btn {
    background: #fff;
    font-size: 17px;
    font-weight: 600;
    border: 2px solid #ddd;
}
button.btn:hover {
    background: transparent;
    color: #fff;
}

/*====================
Footer section css 
=====================*/
.footer-left img{
	width: 150px;
}
.footer-top {
    background: url(../img/footer-bg.jpg) no-repeat;
    padding: 40px 0px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.footer-left p {
    margin-top: 15px;
    color: #000;
    margin-bottom: 0;
}
.footer-top h3{
	color: #000;
}
.footer-middle ul li {
    list-style: none;
    display: block;
}
.footer-middle ul li a {
    color: #272727;
    padding: 5px 0px;
    display: block;
}
.footer-middle ul li a:hover {
    color: #a7a3a3;
    transition: 0.3s;
}
.footer-right p {
    color: #272727;
    margin-bottom: 0;
}
.header-social.footer ul{
	text-align: left;
	margin-top: 0;
}
.footer-right p a, .header-social.footer ul li a {
    color: #0d6fb3!important;
}

.footer-bottom {
    border-top: 1px solid #616060;
    background: #191919;
}
.copyright-section p {
    color: #c1c1c1;
    text-align: center;
    margin: 0;
    padding: 15px 0px;
}




/*
===========================
scroll to top 
===========================
*/
.scrollToTop {
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    z-index: 999;
    bottom: 30px;
    right: 30px;
    position: fixed;
    border-radius: 5px;
    -webkit-transform: translateY(150px);
    -ms-transform: translateY(150px);
    transform: translateY(150px);
    background: #05c3de;
    text-align: center;
    font-size: 16px;
}
.scrollToTop.active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    animation: bounceInDown 2s;
    -webkit-animation: bounceInDown 2s;
    -moz-animation: bounceInDown 2s;
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px)
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px)
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown
}

/*
==================================
Scroll to top css end
===================================
*/